<fieldset>
  <legend>{{localize group.legend}}</legend>
  <div class="form-group">
    <div class="form-fields">
      {{formInput group.field value=group.value sort=true dataset=group.dataset}}
    </div>
  </div>
</fieldset>
