<footer class="form-footer" data-tooltip-direction="UP" {{#if ancestry.disabled}} data-tooltip="SWADE_CORE_RULES.Tooltip.NotMetTarget" {{/if}}>
  <button type="button" data-action="finalize" {{disabled ancestry.disabled}}>
    <i class="fa-solid fa-check"></i>
    <span>{{localize 'Save'}}</span>
  </button>
</footer>
